<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.mindhaus.bdb.browser.ui.Perspective"
            icon="icons/sample.gif"
            id="bdb.browser.Perspective"
            name="BDB Browser">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="BDB-Browser Preferences"
            class="org.mindhaus.bdb.browser.ui.preferences.BDBBrowserPreferencePage"
            id="bdb.browser.PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.mindhaus.bdb.browser.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="DB Page"
            nameFilter="*.*"
            class="org.mindhaus.bdb.browser.ui.properties.DBPropertyPage"
            id="bdb.browser.DBPropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="BDB Browser"
            id="bdb.browser">
      </category>
      <view
            name="Environment View"
            icon="icons/sample.gif"
            category="bdb.browser"
            class="org.mindhaus.bdb.browser.ui.views.EnvironmentView"
            id="bdb.browser.EnvironmentView">
      </view>
      <view
            name="Index View"
            icon="icons/sample.gif"
            category="bdb.browser"
            class="org.mindhaus.bdb.browser.ui.views.IndexView"
            id="bdb.browser.IndexView">
      </view>
   </extension>
   <extension
    point = "org.eclipse.ui.viewActions">
 </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>

</plugin>
